.tour-list-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.tour-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.tour {
  width: calc(33.33% - 30px);
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
}

.tour-content {
  padding: 20px 20px 14px 20px;
}

.tour-tilte {
  margin-bottom: 10px;
  color: #23262f;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  line-height: 1.5;
}

.tour-rating {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.tour-review {
  display: flex;
  align-items: center;
}

.tour-review-count {
  margin-left: 11px;
}

.tour-duration,
.tour-review-count {
  color: #3b3e44;
}

.tour-button {
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 8px 17px;
  background-color: #3b71fe;
  border-radius: 8px;
  line-height: 17px;
  display: inline-block;
}

.tour-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 239px;
  object-fit: cover;
}
