* {
    box-sizing: inherit;
}
html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    max-height: 100%;
    background-color: #FBFBFB;
}

.header {
    display: flex;
    justify-content: space-around;
}